<div class="home">
    <h1>UNIT shop</h1>
    <article>
        <p>
            UNIT shop is the first groups project in PHP-pool.
        </p>
        <p>
            <strong>Data management:</strong> We implement data management
            (creation, modification and removal of data) in the mysql format.
            The data management is a key element to the design of our site.
        </p>
        <p>
            <strong>User management:</strong> You able to create and delete your account.
            You can put all of the items what do you want into basket, but to buy it you
            must get authorization on site.
        </p>
        <p>
            <strong>A basket:</strong> It contain the list of products that you wants to buy, the
            price and the quantity of each article, as well as the total cost.
        </p>
    </article>
    <div class="logo">
        <img src="https://signin.intra.42.fr/assets/42_logo_black-684989d43d629b3c0ff6fd7e1157ee04db9bb7a73fba8ec4e01543d650a1c607.png" alt="logo 42" />
    </div>
</div>
